body{
  background-color:#000000;
  color:#FFFFFF;
}
.Intro-Slate{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../images/Downtown_San_Diego_Skyline.jpg");  
}
